

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    font-size: 50px;
}

.orange-color{
    color: orangered;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

.half-width img{
    width: 80%;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    
}

.link-btn{
    text-decoration: none;
    background-image: linear-gradient(orangered, rgba(255, 68, 0, 0.685));
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item{
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 40px;
    border-radius: 5px;

}

.experience-area{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-left{
    border-left: 10px solid;
    border-image: linear-gradient( #FF3584, #6B48DA);
    border-image-slice: 1;
    
}
.experience-right{
    border-left: 10px solid;
    border-image: linear-gradient( blue, cyan);
    border-image-slice: 1;
}

footer{
    text-align: center;
}